*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 14px;
}

/* stili header */
header{
    position: fixed;
    width: 100%;
    background-color: white;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    height: 80px;
}

.container-header div{
    display: flex;
    align-items: center;
}


#info-header ul, #accedi-header ul{
    display: flex;
    list-style-type: none;
}

.link-nav{
    padding: 0 18px;
    text-decoration: none;
    color: black;
}

.button{
    color: white;
    background-color: #0061ff;
    padding: 7px;
    text-decoration: none;
}

/* stili sezone introduzione*/

#sezione-introduzione{
    padding-top: 80px;
    background-color: #b4d0e7;
}

.container-introduzione{
    width: 70%;
    margin: 0 auto;
}
.container-introduzione h1{
    font-size: 65px;
    margin-top: 40px;
}


#text-container-introduzione{
    display: flex;
}

.prova-gratuita{
    width: 30%;
    padding-top: 80px;
    margin-right: 40px;
}

.prova-gratuita *{
    margin-bottom: 40px;
}

.prova-gratuita div{
    margin-top: 40px;
}

 #fa-arrow-down{
    font-size: 45px;
}

#business-feature-coordinate{
    width: 50%;
}

#business-feature-coordinate img{
    width: 100%;
}


/* stili piano business */

.container-piano-business{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}

.container-piano-business h2{
    margin-bottom: 40px;
    font-size: 40px;
}

#fatturazioni{
    margin-left: 40px;
}

.piani-business{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.piano{
    width: 30%;
    border: 1px solid grey
}

.text-piano{
    padding: 0 15px;
}
.line{
    width: 30px;
    border: 1px solid gray;
    margin: 20px 0;
}
.piano ul{
    margin: 50px 0;
}

.list-piani{
    margin: 10px 0;
}

.fa-solid {
    font-size: 15px;
    margin-right: 3px;
}


#piano-singolo{
    text-align: center;
    border: 1px solid grey;
    padding: 7px 0;
    margin-bottom: 20px;
}


li{
    list-style-type: none;
}

.acquista{
    margin-top: 30px;
}

.acquista a{
    color: #0061ff;
}

.fa-check{
    color: #0061ff;
}

/* stili team */
.container-team{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid gray;
}

.text-team{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.text-team h4{
    padding-bottom: 10px;
}

.text-team p{
    padding: 30px 0;
}

.text-team a{
    align-self: self-start;
}


/* stili partner */

.container-partner{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}


#partner-img img{
    width: 100%;
}

#text-partner{
    width: 40%;
    padding: 0 10px;
}

#text-partner p{
  padding: 30px 0;
}

.button-partner{
    color: grey;
    background-color: white;
    border: 1px solid grey;
}