*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 14px;
    font-family: 'AR One Sans', sans-serif;
}

/* stili header */
header{
    position: fixed;
    width: 100%;
    background-color: white;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    height: 80px;
}

.container-header div{
    display: flex;
    align-items: center;
}


#info-header ul, #accedi-header ul{
    display: flex;
    list-style-type: none;
}

.link-nav{
    padding: 0 18px;
    text-decoration: none;
    color: black;
}

.button{
    color: white;
    background-color: #0061ff;
    padding: 7px;
    text-decoration: none;
}

/* stili sezone introduzione*/

#sezione-introduzione{
    padding-top: 80px;
    background-color: #b4d0e7;
}

.container-introduzione{
    width: 70%;
    margin: 0 auto;
}
.container-introduzione h1{
    font-size: 65px;
    margin-top: 40px;
}


#text-container-introduzione{
    display: flex;
}

.prova-gratuita{
    width: 30%;
    padding-top: 80px;
    margin-right: 40px;
}

.prova-gratuita *{
    margin-bottom: 40px;
}

.prova-gratuita div{
    margin-top: 40px;
}

.fa-solid{
    font-size: 45px;
}

#business-feature-coordinate{
    width: 50%;
}

#business-feature-coordinate img{
    width: 100%;
}
